<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<style type="text/css">
<!--
.bor {border:1px solid #666666;
}
-->
</style>
</head>

<body>
<table width="70%" border="0" align="center" cellpadding="5" cellspacing="0" class="bor">
  <tr>
    <td align="left"><table width="139" border="1" cellpadding="3" cellspacing="0">
      <tr>
        <td>SET </td>
      </tr>
    </table></td>
    <td colspan="2" align="right"><table width="278" border="1" cellpadding="3" cellspacing="0">
      <tr>
        <td width="72">Reg No. </td>
        <td width="23">&nbsp;</td>
        <td width="20">&nbsp;</td>
        <td width="16">&nbsp;</td>
        <td width="15">&nbsp;</td>
        <td width="12">&nbsp;</td>
        <td width="14">&nbsp;</td>
        <td width="12">&nbsp;</td>
        <td width="20">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3"><table width="95%" border="0" align="center" cellpadding="3" cellspacing="0" class="bor">
      <tr>
        <td width="17%" align="left"><img src="../static/assets/img/bannari.jpg" width="105" height="94"></td>
        <td width="70%" align="center"><h3>Bannari Amman Institute of Technology</h3>
              <div>[An Autonomous Institution, Affiliated to Anna University, Approved by AICTE]</div>
          <div>Sathy - Bhavani State Highway, Alathukombai, Post- 638401, Sathyamangalamm Tamil Nadu.</div></td>
        <td width="13%" align="right"><img src="../static/img1.jpg"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3" align="center"><h3>(B.E / B.Tech)</h3>
        <h4>Regulation)</h4>
      <h4>Department of </h4>
      <h4>&nbsp;</h4></td>
  </tr>
  <tr>
    <td align="left">YEAR/SEM: </td>
    <td>&nbsp;</td>
    <td align="right">Date: </td>
  </tr>
  <tr>
    <td align="left">Time:</td>
    <td>&nbsp;</td>
    <td align="right">Maximum: </td>
  </tr>
  <tr>
    <td colspan="3" align="center"><strong>Answer All the Questions</strong> </td>
  </tr>
  <tr>
    <td colspan="3" align="center"><p align="center"><strong>Part  Marks)</strong></p>
      <table width="90%" border="1" cellpadding="3" cellspacing="0">
          <tr>
            <td align="center" colspan="2">Q.No</td>
            <td align="center">Questions</td>
          </tr>
    
        <tr>
          <td colspan="2">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
     
        <tr>
                      <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td align="center">(OR)</td>
        </tr>
      
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        
      </table>
      <p>&nbsp;</p>
      </td>
  </tr>
</table>
</body>
</html>
